<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DPG Module
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">
  <div style="text-align: center; font-size: 15px; font-weight: 700;">
    <ion-label>
      calibration setpoint
    </ion-label>
  </div>
  <div style="margin: 15px;">
    <ion-button style="color: tertiary; width: 130px; height: 30px;">
      Calibrate zero
    </ion-button>
  </div>

  <ion-list style="margin: 50px;">
    <ion-item>
      <ion-label>
        Pressure1
      </ion-label>
      <ion-input [(ngModel)]="pressure1" name="pressure1" [(ngModel)]="pressure1" (ionChange)="onChange('pressure1',pressure1)" slot="end"></ion-input>
    </ion-item>

    <ion-item>
      Pressure2
      <ion-input [(ngModel)]="pressure2" name="pressure2" [(ngModel)]="pressure2" (ionChange)="onChange('pressure2',pressure2)" slot="end"></ion-input>
    </ion-item>

    <ion-item>
      Pressure3
      <ion-input  [(ngModel)]="pressure3" name="pressure3" [(ngModel)]="pressure3" (ionChange)="onChange('pressure3',pressure3)" slot="end"></ion-input>
    </ion-item>

    <ion-item>
      Pressure4
      <ion-input [(ngModel)]="pressure4" name="pressure4" [(ngModel)]="pressure4" (ionChange)="onChange('pressure4',pressure4)" slot="end"></ion-input>
    </ion-item>

    <ion-item>
      Pressure5
      <ion-input [(ngModel)]="pressure5" name="pressure5" [(ngModel)]="pressure5" (ionChange)="onChange('pressure5', pressure5)" slot="end"></ion-input>
    </ion-item>
  </ion-list>
  <ion-item></ion-item>
  <div style="font-weight: 700; margin:10px">
    Next Calibration Date
  </div>
  <ion-item></ion-item>
</ion-content>
